html, body {
  width: 100%;
  height: 100%;
  background: rgb(10, 10, 10);
  color: white;
  font-family: sans-serif;
}

body {
  position: relative;
}

#grain {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 99999;

  background-image: url("../assets/images/grain.jpg");
  background-repeat: repeat;
  background-size: 180px 180px;

  opacity: 0.5;
  mix-blend-mode: normal;
}

#transition {
  position: fixed;
  inset: 0;
  background: black;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 9999;
}

/* Active fade */
#transition.active {
  opacity: 1;
}
